<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/databaseStyles.css">
    
</head>
<body>
    <h2>Database</h2>
    <table>
        {% if rows %}
        <tr>
            {% for key in rows[0].__dict__.keys() if not key.startswith('_sa_instance_state') %}
                <th>{{ key }}</th>
            {% endfor %}
            <th>ACTIONS</th>
        </tr>
        {% for row in rows %}
            <tr>
                {% for key, value in row.__dict__.items() if not key.startswith('_sa_instance_state') %}
                    <td>{{ value }}</td>
                {% endfor %}
                <td>
                    <form method='post' action="{{ url_for('delete', the_id=row.id) }}">
                        <input type="checkbox" name="remove">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
    <br>
    <button><a href="{{ url_for('index') }}">Enter New User</a></button>
</body>
</html>
