<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/databaseStyles.css">
    
</head>
<body>
    {% for row in rows %}
    {% for attr, value in row.__dict__.items() %}
        {% if not attr.startswith('_sa_instance_state') %}
            <p>{{ attr }}: {{ value }}</p>
        {% endif %}
    {% endfor %}
{% endfor %}
<br><button><a href="{{ url_for('index') }}">Enter New User</a></button>
</body>
</html>

